# Implementación 
### Equipo:

In [1]:
# Parámetros generales del notebook
ruta_bases = 'bases/'
sample_size = 200000
cv = 3

In [2]:
# Preparación ambiente AWS SageMaker
#!pip install --upgrade pip
#!pip install xgboost
#!pip install lightgbm
#!pip install -U scikit_learn
#!pip install -U pandas

In [5]:
# Importación de librerías
import json
import glob
import pandas as pd
import numpy as np
#import missingno as msgno
import matplotlib.pyplot as plt
import funciones as fn
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from ml_classes import PrepML, MLModel
from matplotlib.pyplot import rcParams
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.linear_model import Ridge,SGDRegressor
from lib.get_nhtsa_json import get_nhtsa_json

/Users/fernando/miniconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/fernando/miniconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/fernando/miniconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [6]:
# Parámetros generales para plots
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = 15, 8
# Semilla pseudo-aleatoria
rd_seed = 1234

# 0. Obtener la información

Esta es una demostración del proceso realizado por `get_features.py` para poder obtener información relacionada con el `Vin` de los vehículos a través de una API. El proceso consite en los siguientes pasos:
* 1.- Extraer todos los `Vin` de la base completa `true_car_listings.csv`.
* 2.- Requerir a través de la Api 'chunks' de 50 registros por cada petición.
* 3.- Guardar en la memoria el json en formato texto, agregando 50 registros por cada iteración.
* 4.- Una vez completada las iteraciones guardar en formato json todos los registros requeridos.

In [ ]:
# Requerimos todos los 'Vin'    
all_vins = pd.read_csv(f'{ruta_bases}true_car_listings.csv')['Vin'].to_list()
# Parámetros de muestra
start = 8
end = 8

json_text = '['
for i in range(start, end+1):
    # Generar requerimiento con 50 registros Vin
    vin_list = all_vins[50 * (i - 1):50 * i]
    json_text += get_nhtsa_json(vin_list, i)

# Cerrar lista de Json
json_text = json_text[:-2] + ']'
# Exportar resultados a archivo json
with open(f'api_test/data_{start}_{end}.json', 'w') as json_file:
    json_file.write(json_text)

Paralelamente, en base a una muestra de la base total, se definió el primer filtro de variables requeridas a través la API: que tengan menos del 10% de datos perdidos, las cuales se presentan a continaución:

In [ ]:
cols = ['AirBagLocFront', 'BodyClass', 'BusFloorConfigType', 'BusType',
       'CustomMotorcycleType', 'DisplacementCC', 'DisplacementCI',
       'DisplacementL', 'Doors', 'EngineCylinders', 'EngineHP', 'EngineKW',
       'ErrorCode', 'ErrorText', 'FuelTypePrimary', 'Make', 'Manufacturer',
       'ManufacturerId', 'Model', 'ModelYear', 'MotorcycleChassisType',
       'MotorcycleSuspensionType', 'PlantCity', 'PlantCountry', 'TPMS',
       'TrailerBodyType', 'TrailerType', 'VIN', 'VehicleType']

Con estas columnas seleccionadas, se procede a importar los archivos json (varios en el proceso original) para luego mapearlos para retraer solo aquellas columnas, creando un DataFrame con ellas y luego exportarlas en un csv.

In [ ]:
# Importación de archivo json
filenames = glob.glob('api_test/*.json')
json_list = []

for filename in filenames:
    print(filename)
    with open(filename, 'r') as file:
        # Mapeamos considerando solo las columnas seleccionadas
        data = list(map(fn.get_info, 
                        json.loads(file.read())
                       )
                   )
    json_list += data

# Creación y exortación de DataFrame con features extraídos
data_json = pd.DataFrame(data=json_list,
                         columns=cols)
data_json.to_csv('api_test/data_api.csv')

# 1. Creación del Dataset

## 1.1 Bases Originales

In [7]:
# Importación de las bases para muestras de entrenamiento y prueba
df_train = pd.read_csv(f'{ruta_bases}true_cars_train.csv',
                       delimiter=";")
df_test = pd.read_csv(f'{ruta_bases}true_cars_test.csv',
                      delimiter=";")
# Dimensiones de las bases
print(f'Base Train: {df_train.shape}\nBase Test: {df_test.shape}')

Base Train: (639145, 8)
Base Test: (212977, 8)

In [8]:
# Información general de muestra de entrenamiento
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 639145 entries, 0 to 639144
Data columns (total 8 columns):
Price      639145 non-null int64
Year       639145 non-null int64
Mileage    639145 non-null int64
City       639145 non-null object
State      639145 non-null object
Vin        639145 non-null object
Make       639145 non-null object
Model      639145 non-null object
dtypes: int64(3), object(5)
memory usage: 39.0+ MB

In [9]:
# Creación de atributo 'sample'
df_train['sample'] = 'train'
df_test['sample'] = 'test'

In [10]:
# Unión de ambas bases
df_data = pd.concat([df_train, df_test])
print(f'Base Data: {df_data.shape}')

Base Data: (852122, 9)

## 1.2 Base API

In [11]:
# Importación de la base extraída por el requerimiento a la api
df_api = pd.read_csv(f'{ruta_bases}api_features.csv').drop(columns='Unnamed: 0')
print(f'Base API: {df_api.shape}')

Base API: (846562, 29)

In [12]:
df_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 846562 entries, 0 to 846561
Data columns (total 29 columns):
AirBagLocFront              797265 non-null object
BodyClass                   845535 non-null object
BusFloorConfigType          843524 non-null object
BusType                     843524 non-null object
CustomMotorcycleType        846525 non-null object
DisplacementCC              839096 non-null float64
DisplacementCI              839096 non-null float64
DisplacementL               839096 non-null float64
Doors                       739918 non-null float64
EngineCylinders             735744 non-null object
EngineHP                    380764 non-null object
EngineKW                    380764 non-null object
ErrorCode                   846550 non-null object
ErrorText                   846550 non-null object
FuelTypePrimary             789859 non-null object
Make                        846525 non-null object
Manufacturer                846525 non-null object
ManufacturerId              846525 non-null float64
Model                       846044 non-null object
ModelYear                   846522 non-null float64
MotorcycleChassisType       846525 non-null object
MotorcycleSuspensionType    846525 non-null object
PlantCity                   694188 non-null object
PlantCountry                798155 non-null object
TPMS                        674177 non-null object
TrailerBodyType             846524 non-null object
TrailerType                 846524 non-null object
VIN                         846550 non-null object
VehicleType                 846525 non-null object
dtypes: float64(6), object(23)
memory usage: 187.3+ MB

In [13]:
# Identificar columnas con solo valores "Not Applicable" 
notapp_series = df_api\
                    .isin(['Not Applicable'])\
                    .sum()
cols2drop = list(notapp_series[notapp_series > 1].index)

In [14]:
# Identificar columnas con más de un 15% de datos perdidos
null_series = df_api\
                .isnull()\
                .sum()\
                /df_api.shape[0] 
cols2drop += list(null_series[null_series > .15].index)

In [15]:
# Columnas repetidas en la data original
cols2drop += ['ModelYear', 'Make']

In [16]:
# Borrar aquellas columnas 
df_api = df_api.drop(columns=cols2drop)
print(f'Base API: {df_api.shape}')

Base API: (846562, 16)

In [17]:
df_api=df_api.rename(columns={"AirBagLocFront":"Airag_LocFront",
                        "BodyClass":"d_Body_Class",
                        "DisplacementCC":"d_DisplacementCC",
                        "DisplacementCI":"d_DisplacementCI",
                        "DisplacementL":"d_DisplacementL",
                        "Doors":"d_Doors",
                        "EngineCylinders ":"d_EngineCylinders",
                        "EngineHP":"d_EngineHP",
                        "EngineKW":"d_EngineKW",
                        "ErrorCode":"d_ErrorCode",
                        "ErrorText":"d_ErrorText",
                        "FuelTypePrimary":"d_FuelTypePrimary",
                        "Make":"d_Make",
                        "Manufacturer":"d_Manufacturer",
                        "ManufacturerId":"d_ManufacturerId",
                        "Model":"d_Model",
                        "ModelYear":"d_ModelYear",
                        "PlantCity":"d_PlantCity",
                        "PlantCountry":"d_PlantCountry",
                        "TPMS":"d_TPMS",
                        "VIN":"Vin",
                        "VehicleType":"d_VehicleType"})

## 1.3 Unión de Bases

In [18]:
# Unión de bases
df = pd.merge(left=df_data, 
              right=df_api, 
              how='inner',
              on='Vin')
# Dimensiones de la base
print(f'Dataset: {df.shape}')

Dataset: (846644, 24)

In [19]:
# Información general de la base
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 846644 entries, 0 to 846643
Data columns (total 24 columns):
Price                846644 non-null int64
Year                 846644 non-null int64
Mileage              846644 non-null int64
City                 846644 non-null object
State                846644 non-null object
Vin                  846644 non-null object
Make                 846644 non-null object
Model                846644 non-null object
sample               846644 non-null object
Airag_LocFront       797359 non-null object
d_Body_Class         845629 non-null object
d_DisplacementCC     839190 non-null float64
d_DisplacementCI     839190 non-null float64
d_DisplacementL      839190 non-null float64
d_Doors              740010 non-null float64
EngineCylinders      735838 non-null object
d_ErrorCode          846644 non-null object
d_ErrorText          846644 non-null object
d_FuelTypePrimary    789951 non-null object
d_Manufacturer       846619 non-null object
d_ManufacturerId     846619 non-null float64
d_Model              846138 non-null object
d_PlantCountry       798249 non-null object
d_VehicleType        846619 non-null object
dtypes: float64(5), int64(3), object(16)
memory usage: 161.5+ MB

In [20]:
# Filtrar 30 modelos
modelos = df['Make'].value_counts()
df = df[df['Make'].isin(modelos[modelos > 30].index)]

In [21]:
clase = df['d_Body_Class'].value_counts()
df = df[df['d_Body_Class'].isin(clase[clase > 1000].index)]

In [22]:
df['Age'] = df['Year'] - 2018

# 2. Análisis exploratorio de datos

## 2.1 Análisis de los datos perdidos

In [23]:
#msgno.matrix(df)

# 3. Preproceso

In [24]:
# Liberar Espacio Memoria
del df_api
del df_data
del df_train
del df_test

In [25]:
# Selección de variables para modelos
select_vars = ['Price', 'Mileage', 'sample', 'd_Body_Class', 'Make', 'Age']
#sample_size = df[select_vars].shape[0]

In [26]:
# Muestra aleatoria
df_sample = df[select_vars]\
                .sample(sample_size)\
                .reset_index(drop=True)\

In [29]:
# Instanciar clase para realizar preproceso
df_prep = PrepML(df_sample)

In [31]:
# Realizamos OneHot Encoder a las columnas categóricas seleccionadas
df_prep.one_hot_encoder(['d_Body_Class', 'Make'], drop_first=True)
df_prep.df

,Price,Mileage,sample,Age,d_Body_Class_Sport_Utility_Vehicle__SUV__Multi_Purpose_Vehicle__MPV_,d_Body_Class_Pickup,d_Body_Class_Wagon,d_Body_Class_Hatchback_Liftback_Notchback,d_Body_Class_Coupe,d_Body_Class_Minivan,...,Make_Genesis,Make_Aston,Make_Oldsmobile,Make_Lamborghini,Make_Rolls_Royce,Make_Plymouth,Make_Isuzu,Make_Alfa,Make_McLaren,Make_Lotus
0,14097,44948,train,-4,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,18399,41491,train,-9,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,31995,33070,train,-4,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,19995,85952,train,-5,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,12988,7512,train,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,11415,106608,train,-5,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199996,18533,17143,train,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199997,44999,41096,train,-3,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199998,21750,25811,train,-2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199999,37900,3652,train,-1,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
# Removemos outliers (opcional)
#df_prep.remove_outliers(['Price', 'Mileage'], multiplier=1.5)
#df_prep.df

In [33]:
# Estandarizamos variables continuas seleccionadas
df_prep.standard_scaler(['Mileage', 'Age'])
df_prep.df

,Price,sample,d_Body_Class_Sport_Utility_Vehicle__SUV__Multi_Purpose_Vehicle__MPV_,d_Body_Class_Pickup,d_Body_Class_Wagon,d_Body_Class_Hatchback_Liftback_Notchback,d_Body_Class_Coupe,d_Body_Class_Minivan,d_Body_Class_Convertible_Cabriolet,d_Body_Class_Van,...,Make_Oldsmobile,Make_Lamborghini,Make_Rolls_Royce,Make_Plymouth,Make_Isuzu,Make_Alfa,Make_McLaren,Make_Lotus,Mileage,Age
0,14097,train,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.178517,0.203434
1,18399,train,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.262239,-1.267961
2,31995,train,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.466179,0.203434
3,19995,train,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.814519,-0.090845
4,12988,train,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.085143,1.086270
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,11415,train,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.314766,-0.090845
199996,18533,train,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.851900,1.086270
199997,44999,train,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.271805,0.497712
199998,21750,train,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.641978,0.791991
199999,37900,train,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.178625,1.086270

In [34]:
# Separar muestras según
X_train, y_train, X_test, y_test = df_prep.to_train_test_samples('sample', 'Price')

Realizado en 1.0s

# 4. Modelamiento

In [42]:
# Test
from sklearn.linear_model import LinearRegression
linear_reg = MLModel(LinearRegression())
linear_reg.fit(X_train, y_train)

Realizado en 1.0s

In [44]:
linear_reg.metrics(X_test, y_test)

rmse: 8424.046
mae: 5164.762
r2: 0.597

{'rmse': 8424.046, 'mae': 5164.762, 'r2': 0.597}

## 4.1 Ridge Regression

In [48]:
# Establecemos parámetros a evaluar en el modelo
ridge_grid = {'alpha': [0, .001, 0.0001],
              'solver': ['sag', 'sparse_cg']}
# Instanciamos Clase auxiliar para entrenar, ajustar y evaluar modelos de ML
ridge_reg = MLModel(model=Ridge(fit_intercept=True))
# Implementación del grid search
ridge_reg.grid_search(X_train,
                      y_train,
                      param_grid=ridge_grid,
                      n_jobs=-2,
                      cv=cv)

Mejores parámetros:
{'alpha': 0.001, 'solver': 'sag'}

Realizado en 103.0s

In [49]:
# Métricas
ridge_reg.metrics(X_test, y_test)

rmse: 8463.538
mae: 5190.979
r2: 0.593

{'rmse': 8463.538, 'mae': 5190.979, 'r2': 0.593}

## 4.2 SGD

In [54]:
# Establecemos parámetros a evaluar en el modelo
sgd_grid = {'loss': ['squared_epsilon_insensitive', 'squared_loss'],
            'alpha': [0, 0.0001, 0.00001]
          }
# Instanciamos Clase auxiliar para entrenar, ajustar y evaluar modelos de ML
sgd_reg = MLModel(model=SGDRegressor(penalty = 'l1',
                                     early_stopping = False,
                                     random_state=rd_seed))
# Implementación del grid search
sgd_reg.grid_search(X_train,
                    y_train,
                    param_grid=sgd_grid,
                    n_jobs=-2,
                    cv=cv)

Mejores parámetros:
{'alpha': 0, 'loss': 'squared_epsilon_insensitive'}

Realizado en 141.0s

In [55]:
sgd_reg.metrics(X_test, y_test)

rmse: 8481.539
mae: 5196.783
r2: 0.591

{'rmse': 8481.539, 'mae': 5196.783, 'r2': 0.591}

## 4.3 LightGBM

In [ ]:
# Establecemos parámetros a evaluar en el modelo
lgb_grid = {'max_depth': [3, 4, 5, 6], 
            'num_leaves': [30, 50, 60]}
# Instanciamos Clase auxiliar para entrenar, ajustar y evaluar modelos de ML
lgb_reg = MLModel(model=LGBMRegressor(n_jobs=1,
                                      random_state=rd_seed))
# Implementación del grid search
lgb_reg.grid_search(X_train,
                    y_train,
                    param_grid=lgb_grid,
                    n_jobs=-2,
                    cv=cv)

In [ ]:
lgb_reg.metrics(X_test, y_test)

## 4.4 XGBoost

In [ ]:
# Establecemos parámetros a evaluar en el modelo
xgb_grid = {'max_depth': [4, 5, 6, 7], 
            'n_estimators': [ 60, 70, 80]}
# Instanciamos Clase auxiliar para entrenar, ajustar y evaluar modelos de ML
xgb_reg = MLModel(model=XGBRegressor(objective ='reg:squarederror',
                                     n_jobs=1,
                                     seed=rd_seed))
# Implementación del grid search
xgb_reg.grid_search(X_train,
                    y_train,
                    param_grid=xgb_grid,
                    n_jobs=-2,
                    cv=cv)

In [ ]:
# Métricas
xgb_reg.metrics(X_test, y_test)

In [ ]:
# Experimental: Red Neuronal

In [56]:
# Clase para instanciar modelos de Keras como objetos de scikit-learn
from tensorflow.keras.wrappers.scikit_learn import KerasRegressor
# Regularizador para neuronas
from tensorflow.keras.regularizers import l2
# Arquitectura secuencial para modelos de redes neuronales
from tensorflow.keras.models import Sequential
# Clase para conexciónes densamente pobladas
from tensorflow.keras.layers import Dense

In [74]:
# Norma de regularización con lambda=0.01
ridge_regularizer = l2(0.0005)


# Instanciamos la Red Neuronal
input_dim = (X_train.shape[1],)
model = Sequential()
model.add(Dense(20, activation='relu',
                kernel_regularizer = ridge_regularizer,
                use_bias=True, 
                input_shape=input_dim,
                name='Primera_capa'))

model.add(Dense(10, activation='relu', 
                kernel_regularizer = ridge_regularizer,
                use_bias=True, 
                name='Segunda_capa'))

model.add(Dense(1, activation='linear', use_bias=True, name='output'))
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mean_squared_error'])
model.summary()

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
Primera_capa (Dense)         (None, 20)                1300
_________________________________________________________________
Segunda_capa (Dense)         (None, 10)                210
_________________________________________________________________
output (Dense)               (None, 1)                 11
=================================================================
Total params: 1,521
Trainable params: 1,521
Non-trainable params: 0
_________________________________________________________________

In [76]:
model.fit(X_train, y_train, batch_size=512, epochs=50, validation_data=(X_test, y_test))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 150088 samples, validate on 49912 samples
Epoch 1/50
150088/150088 [==============================] - 5s 35us/sample - loss: 96055320.2173 - mean_squared_error: 96055288.0000 - val_loss: 85974869.9074 - val_mean_squared_error: 85974864.0000
Epoch 2/50
150088/150088 [==============================] - 6s 39us/sample - loss: 95554072.8792 - mean_squared_error: 95554104.0000 - val_loss: 85569995.2268 - val_mean_squared_error: 85569992.0000
Epoch 3/50
150088/150088 [==============================] - 6s 39us/sample - loss: 95075316.7486 - mean_squared_error: 95075280.0000 - val_loss: 85214268.5251 - val_mean_squared_error: 85214272.0000
Epoch 4/50
150088/150088 [==============================] - 6s 39us/sample - loss: 94618494.8572 - mean_squared_error: 94618464.0000 - val_loss: 84892128.0282 - val_mean_squared_error: 84892120.0000
Epoch 5/50
150088/150088 [==============================] - 6s 38us/sample - loss: 94182389.9545 - mean_squared_error: 94182360.0000 - val_loss: 84495086.6870 - val_mean_squared_error: 84495096.0000
Epoch 6/50
150088/150088 [==============================] - 6s 39us/sample - loss: 93750156.5094 - mean_squared_error: 93750152.0000 - val_loss: 84158733.6663 - val_mean_squared_error: 84158712.0000
Epoch 7/50
150088/150088 [==============================] - 6s 40us/sample - loss: 93347615.7359 - mean_squared_error: 93347608.0000 - val_loss: 83848713.7375 - val_mean_squared_error: 83848720.0000
Epoch 8/50
150088/150088 [==============================] - 6s 39us/sample - loss: 92943877.9494 - mean_squared_error: 92943848.0000 - val_loss: 83537985.6823 - val_mean_squared_error: 83537992.0000
Epoch 9/50
150088/150088 [==============================] - 6s 39us/sample - loss: 92542908.3375 - mean_squared_error: 92542904.0000 - val_loss: 83260640.3449 - val_mean_squared_error: 83260624.0000
Epoch 10/50
150088/150088 [==============================] - 6s 39us/sample - loss: 92171535.8533 - mean_squared_error: 92171496.0000 - val_loss: 82968216.5956 - val_mean_squared_error: 82968216.0000
Epoch 11/50
150088/150088 [==============================] - 6s 40us/sample - loss: 91808242.4199 - mean_squared_error: 91808296.0000 - val_loss: 82694809.3015 - val_mean_squared_error: 82694800.0000
Epoch 12/50
150088/150088 [==============================] - 6s 39us/sample - loss: 91450467.7879 - mean_squared_error: 91450456.0000 - val_loss: 82405536.9720 - val_mean_squared_error: 82405520.0000
Epoch 13/50
150088/150088 [==============================] - 6s 40us/sample - loss: 91098796.1320 - mean_squared_error: 91098792.0000 - val_loss: 82156909.4983 - val_mean_squared_error: 82156904.0000
Epoch 14/50
150088/150088 [==============================] - 6s 40us/sample - loss: 90739292.8774 - mean_squared_error: 90739248.0000 - val_loss: 81911169.6766 - val_mean_squared_error: 81911184.0000
Epoch 15/50
150088/150088 [==============================] - 6s 39us/sample - loss: 90387607.2557 - mean_squared_error: 90387608.0000 - val_loss: 81619862.3081 - val_mean_squared_error: 81619864.0000
Epoch 16/50
150088/150088 [==============================] - 6s 40us/sample - loss: 90033650.4159 - mean_squared_error: 90033632.0000 - val_loss: 81350658.4132 - val_mean_squared_error: 81350640.0000
Epoch 17/50
150088/150088 [==============================] - 6s 39us/sample - loss: 89686031.9923 - mean_squared_error: 89686056.0000 - val_loss: 81094521.1207 - val_mean_squared_error: 81094504.0000
Epoch 18/50
150088/150088 [==============================] - 6s 39us/sample - loss: 89335505.5901 - mean_squared_error: 89335472.0000 - val_loss: 80833371.0120 - val_mean_squared_error: 80833336.0000
Epoch 19/50
150088/150088 [==============================] - 6s 39us/sample - loss: 88986230.8779 - mean_squared_error: 88986232.0000 - val_loss: 80562862.9197 - val_mean_squared_error: 80562848.0000
Epoch 20/50
150088/150088 [==============================] - 6s 39us/sample - loss: 88635794.1859 - mean_squared_error: 88635816.0000 - val_loss: 80306532.1680 - val_mean_squared_error: 80306528.0000
Epoch 21/50
150088/150088 [==============================] - 6s 40us/sample - loss: 88292079.8190 - mean_squared_error: 88292104.0000 - val_loss: 80087560.8681 - val_mean_squared_error: 80087544.0000
Epoch 22/50
150088/150088 [==============================] - 6s 39us/sample - loss: 87947497.9184 - mean_squared_error: 87947512.0000 - val_loss: 79823345.0104 - val_mean_squared_error: 79823336.0000
Epoch 23/50
150088/150088 [==============================] - 6s 39us/sample - loss: 87599182.7434 - mean_squared_error: 87599144.0000 - val_loss: 79537953.8567 - val_mean_squared_error: 79537952.0000
Epoch 24/50
150088/150088 [==============================] - 6s 39us/sample - loss: 87261953.8236 - mean_squared_error: 87261960.0000 - val_loss: 79306108.3488 - val_mean_squared_error: 79306096.0000
Epoch 25/50
150088/150088 [==============================] - 6s 39us/sample - loss: 86918670.5062 - mean_squared_error: 86918688.0000 - val_loss: 79064460.3924 - val_mean_squared_error: 79064456.0000
Epoch 26/50
150088/150088 [==============================] - 6s 38us/sample - loss: 86577528.5373 - mean_squared_error: 86577464.0000 - val_loss: 78795937.5349 - val_mean_squared_error: 78795928.0000
Epoch 27/50
150088/150088 [==============================] - 6s 38us/sample - loss: 86241305.4070 - mean_squared_error: 86241296.0000 - val_loss: 78595748.6322 - val_mean_squared_error: 78595752.0000
Epoch 28/50
150088/150088 [==============================] - 6s 39us/sample - loss: 85902832.1548 - mean_squared_error: 85902784.0000 - val_loss: 78335743.4762 - val_mean_squared_error: 78335736.0000
Epoch 29/50
150088/150088 [==============================] - 6s 39us/sample - loss: 85562660.4746 - mean_squared_error: 85562640.0000 - val_loss: 78070437.4265 - val_mean_squared_error: 78070432.0000
Epoch 30/50
150088/150088 [==============================] - 6s 39us/sample - loss: 85227175.3755 - mean_squared_error: 85227184.0000 - val_loss: 77819152.9053 - val_mean_squared_error: 77819144.0000
Epoch 31/50
150088/150088 [==============================] - 6s 39us/sample - loss: 84900536.3927 - mean_squared_error: 84900520.0000 - val_loss: 77609126.2138 - val_mean_squared_error: 77609152.0000
Epoch 32/50
150088/150088 [==============================] - 6s 42us/sample - loss: 84566444.1580 - mean_squared_error: 84566464.0000 - val_loss: 77379938.6414 - val_mean_squared_error: 77379952.0000
Epoch 33/50
150088/150088 [==============================] - 6s 40us/sample - loss: 84240441.1583 - mean_squared_error: 84240416.0000 - val_loss: 77117671.5692 - val_mean_squared_error: 77117656.0000
Epoch 34/50
150088/150088 [==============================] - 6s 41us/sample - loss: 83917783.1263 - mean_squared_error: 83917760.0000 - val_loss: 76894805.2015 - val_mean_squared_error: 76894784.0000
Epoch 35/50
150088/150088 [==============================] - 6s 39us/sample - loss: 83601486.9039 - mean_squared_error: 83601472.0000 - val_loss: 76674898.0401 - val_mean_squared_error: 76674864.0000
Epoch 36/50
150088/150088 [==============================] - 6s 39us/sample - loss: 83286599.0971 - mean_squared_error: 83286600.0000 - val_loss: 76491455.2691 - val_mean_squared_error: 76491456.0000
Epoch 37/50
150088/150088 [==============================] - 6s 39us/sample - loss: 82979496.3763 - mean_squared_error: 82979528.0000 - val_loss: 76249791.2223 - val_mean_squared_error: 76249784.0000
Epoch 38/50
150088/150088 [==============================] - 6s 39us/sample - loss: 82671627.4482 - mean_squared_error: 82671624.0000 - val_loss: 76039256.3263 - val_mean_squared_error: 76039248.0000
Epoch 39/50
150088/150088 [==============================] - 6s 40us/sample - loss: 82357208.6059 - mean_squared_error: 82357224.0000 - val_loss: 75830920.4674 - val_mean_squared_error: 75830920.0000
Epoch 40/50
150088/150088 [==============================] - 6s 39us/sample - loss: 82050981.9238 - mean_squared_error: 82050984.0000 - val_loss: 75621398.7549 - val_mean_squared_error: 75621408.0000
Epoch 41/50
150088/150088 [==============================] - 6s 39us/sample - loss: 81735386.8380 - mean_squared_error: 81735392.0000 - val_loss: 75395227.4890 - val_mean_squared_error: 75395216.0000
Epoch 42/50
150088/150088 [==============================] - 6s 40us/sample - loss: 81429784.9669 - mean_squared_error: 81429808.0000 - val_loss: 75200172.9360 - val_mean_squared_error: 75200152.0000
Epoch 43/50
150088/150088 [==============================] - 6s 40us/sample - loss: 81124791.7270 - mean_squared_error: 81124776.0000 - val_loss: 75000775.5429 - val_mean_squared_error: 75000768.0000
Epoch 44/50
150088/150088 [==============================] - 6s 39us/sample - loss: 80826416.4524 - mean_squared_error: 80826416.0000 - val_loss: 74785660.6302 - val_mean_squared_error: 74785648.0000
Epoch 45/50
150088/150088 [==============================] - 6s 39us/sample - loss: 80516104.7460 - mean_squared_error: 80516072.0000 - val_loss: 74595821.3727 - val_mean_squared_error: 74595808.0000
Epoch 46/50
150088/150088 [==============================] - 6s 38us/sample - loss: 80219565.5409 - mean_squared_error: 80219512.0000 - val_loss: 74332317.5535 - val_mean_squared_error: 74332296.0000
Epoch 47/50
150088/150088 [==============================] - 6s 38us/sample - loss: 79909782.0813 - mean_squared_error: 79909784.0000 - val_loss: 74130171.6557 - val_mean_squared_error: 74130184.0000
Epoch 48/50
150088/150088 [==============================] - 6s 39us/sample - loss: 79610026.1519 - mean_squared_error: 79610032.0000 - val_loss: 73953757.4804 - val_mean_squared_error: 73953736.0000
Epoch 49/50
150088/150088 [==============================] - 6s 39us/sample - loss: 79307736.0380 - mean_squared_error: 79307672.0000 - val_loss: 73721686.3260 - val_mean_squared_error: 73721680.0000
Epoch 50/50
150088/150088 [==============================] - 6s 39us/sample - loss: 79010941.5950 - mean_squared_error: 79010936.0000 - val_loss: 73557113.0252 - val_mean_squared_error: 73557104.0000

np.sqrt(72202952)